%h1 タスクの一覧

= render "menu"

= form_tag [ :search, :tasks ], method: :get, style: "text-align: right" do
  = text_field_tag :query, params[:query]
  = submit_tag "検索"

= render "categories" if Category.all.present?

= render "navigation"

%table.tasks
  %col.name
  %col.due_date
  %col.links
  - @tasks.each do |task|
    %tr
      %td= link_to task.name, task
      %td= task.due_date
      %td!= link_for task

= paginate @tasks
